{% extends "base.html" %}

{% block content %}
<form action="/videos/{{video.id}}" method="post">
  <section id="edit"></section>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{video.title}}" required autofocus>
    </div>

    <div>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="{{video.genre}}" required>
    </div>

    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="{{video.description}}" required>
    </div>

    <div>
      <label for="stock_quantity">Stock Quantity:</label>
      <input type="number" id="stock_quantity" name="stock_quantity" value="{{video.stock_quantity}}" required>
    </div>

    <div>
      <label for="buying_cost">Buying Cost:</label>
      <input type="number" id="buying_cost" name="buying_cost" value="{{video.buying_cost}}" required>
    </div>

    <div>
      <label for="selling_price">Selling Price:</label>
      <input type="number" id="selling_price" name="selling_price" value="{{video.selling_price}}" required>
    </div>

    <div>
      <label for="director">director:</label>
      <select id="director" name="director_id">
        {% for director in all_directors %}
          <option value="{{ director.id }}"
            {% if video.director.id== director.id %} selected="selected"{% endif %}>
            {{ director.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Update video</button>
  </section>
</form>

{% endblock %}