{% extends 'base.html' %}

{% block content %}

            <header>
                <h1>Inventory List</h1>
            </header>
            <form action="/filtervideos" method="post">
                <input name="video_name" type="text">
                <input type="submit">
            </form>
        {% for video in all_videos %}
            <div class="video">
                <div class="content">
                    <div class="title">
                        <p>{{video.title}}</p>
                        <p>"{{video.description}}"</p>
                    </div>
                    <div class="buttons">
                        <form class="delete-form" action="/videos/{{ video.id }}/delete" method="post">
                            <button class="trash-button">
                                <i class="fa fa-trash-o fa-3x" style="color: red" aria-hidden="true"></i>
                            </button>
                            <a href="/videos/{{video.id}}"> View Full Details</a>
                        </form>
                    </div>
                </div>
            </div> 
    {% endfor %}
{% endblock content %}