{% extends 'base.html' %} {% block content %}

<header>
  <h1>Inventory List</h1>
</header>
<section>
  <form action="/filtervideos" method="post">
    Filter by Supplier:
    <input name="supplier_name" type="text" />
    <input type="submit" />
  </form>
  <form action="/filtergenre" method="post">
    Filter by Genre:
    <input name="video_genre" type="text" />
    <input type="submit" />
  </form>
</section>
<section>
  {% for video in all_videos %}
  <div>
    <div>
      <div>
        <p>{{video.title}}</p>
        <p>"{{video.description}}"</p>
      </div>
      <div>
        <form action="/videos/{{ video.id }}/delete" method="post">
          <button>Delete</button>
          <button><a href="/videos/{{video.id}}"> View Full Details</a></button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}
