{% extends 'base.html' %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='base.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='new.css')}}"
/>
{% endblock stylesheet %} {% block content %}
<header>
  <h1 class="page-title">Create a New Video</h1>
</header>
<form class="form-container" action="/videos" method="post">
  <section class="form">
    <div class="form-item">
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="title" required autofocus />
    </div>
    <div class="form-item">
      <label for="genre">Genre:</label>
      <input type="text" name="genre" placeholder="genre" required />
    </div>
    <div class="form-item">
      <label for="description">Description:</label>
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
        autofocus
      />
    </div>
    <div class="form-item">
      <label for="stock_quantity">Stock Quantity:</label>
      <input type="number" name="stock_quantity" required />
    </div>
    <div class="form-item">
      <label for="buying_cost">Buying Cost:</label>
      <input type="number" name="buying_cost" required />
    </div>
    <div class="form-item">
      <label for="selling_price">Selling Price:</label>
      <input type="number" name="selling_price" required />
    </div>
    <div class="form-item">
      <label for="supplier">supplier:</label>
      <select name="supplier_id">
        {% for supplier in all_suppliers %} {% if supplier.activity == True %}
        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
    <div class="form-item">
      <button type="submit">Add Video</button>
    </div>
  </section>
</form>
{% endblock content %}
