{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit.css')}}"/>
{% endblock stylesheet %}

{% block content %}

<form action="/suppliers/{{supplier.id}}" method="post">
    <section>
      <section>
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{supplier.name}}" required autofocus>
         </div>
          <div>
            <label for="contact_number">Contact number:</label>
            <input type="text" id="contact_number" name="contact_number" value="{{supplier.contact_number}}" required>
          </div>
          <div>
            <label for="activity">Activity Status:</label>
            <select name="activity">
              <option value="true"
                  {% if supplier.activity == True %} selected="selected" {% endif %}>
                  Active
              </option>
              <option value="false"
                  {% if supplier.activity == False %} selected="selected" {% endif %}>
                  Inactive
              </option>
            </select>
          </div>
      <button type="submit">Update Supplier</button>
    </section>
  </section>
</form>

{% endblock %}