.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.landing-title {
  margin-top: 100px;
  font-size: 40px;
}

.landing-subtitle {
  font-size: 20px;
}
