.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
}

.form {
  background-color: salmon;
  border: 5px solid silver;
  border-radius: 25px;
  padding: 25px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  width: 280px;
}

.form-button {
  display: flex;
  justify-content: center;
}
