{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width="", initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div>
            <h1>The good ol' fashioned VHS Depository</h1>
            </div>
            <div>
            <h2>Proudly the last Video Store in Existence!</h2>
            </div>
        </header>
        <main>
            <section class="instructions">
                <h3>
                    Instructions (For my idiot nephew Edsel's peepers only)
                </h3>
                <p>
                    Need a look at the inventory?
                    Click 'Video List'
                    Need a look at suppliers?
                    Click 'Director List'
                    Need to add a video?
                    Click 'New Video'
                    Need to add a suppliers?
                    Click "new Supplier"
                </p>
                <h3>
                    There! No excuse not to screw it up now!
                </h3>
            </section>
            <footer>
                ewfergterh
            </footer>
        </main>
    </body>
    </html>
{% endblock %}